<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="= Tournaments" connectionString="Serer=.\LAPTOP-DJI7PS2D;Databese=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClinet"/>
	</connectionStrings>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>